*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

:root{
    --cor1: #bfd1d9;
    --cor2: #5a6e73;
    --cor3: #011c26;
    --cor4: #010d00;

    --cor-card:#025159;
}

body{
    height: 100vh;
    
    background-image: url(../img/background.jpg);
    background-size: cover;
}

header{
    margin-bottom: 8px;
    padding: 8px 8px 16px;

    text-align: center;

    background-color: #0d0d0dcc;
    color: var(--cor1);
}

main{

}

ul{
    list-style: none;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}

a{
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--cor3);

    border-radius: 8px;

    text-decoration: none;
    font-size: 1.25rem;
    color: var(--cor2);

    cursor: pointer;

    transition: .4s;
}

a:hover{
    background-color: var(--cor-card);
    box-shadow: 1px 0px 32px var(--cor1);

    color: var(--cor4);
}

p{
    text-align: center;
}