@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 96px;
}

div#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#copy{
    background-color: #fff;
}

h1{
    width: 410px;
    font-size: 3rem;
    color: #502050;
}

section#copy > p{
    width: 390px;
    color: #937b92;
    line-height: 24px;
}

aside#rate{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

span{
    padding: 16px;
    background-color: #f7f2f7;
    border-radius: 8px;
    color: #502050;
    font-weight: 700;
}

span > p {
    display: inline-block;
    margin-left: 16px;
}

span#rate1{
    position: relative;
    right: 128px;
}

span#rate2{
    position: relative;
    right: 64px;
}

section#testimonials{
    display: flex;
    justify-content: space-between;
}

.testimonial{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #502050;
    padding: 32px;
    border-radius: 8px;
}

#colton{
    position: relative;
    bottom: 32px;
}

#irene{
    position: relative;
    bottom: 16px;
}

div.person{
    display: flex;
    align-items: center;
    gap: 16px;
}


img{
    border-radius: 50%;
}

div.person > img{
    border-radius: 50%;
    width: 48px;
}

.client{
    color: #f7f2f7;
    font-weight: bold;
}

.verified{
    color: #ee68a4a9;
    
}

q{
    width: 277px;
    padding-top: 16px;
    display: block;
    color: #f7f2f7;
    line-height: 24px;
}

/*
1285 - 1 depoimento por linha
1055 - Texto do lado do titulo e cards com estrelas side by side
*/